= bootstrap_form_for :conversation, url: :conversations do |f|
  = f.text_field :recipients
  = f.text_field :subject
  = f.text_field :body, as: :text
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), conversations_path, :class => 'btn btn-default'
