- model_class = Ride

.page-header
	.row
		.col-lg-12
			.pull-left
				%h1 Available Rides
			.pull-right{ :style => "padding-top: 1.1em;" }	
				= link_to t('.new', :default => t("Post New Ride")), new_ride_path, :class => 'btn btn-primary btn-lg'
.col-lg-8
	-if @rides.nil?
		%h2 Sorry no rides exist for that search, please try again
	- @rides.each do |ride|
		.panel.panel-default.ride-box
			.panel-heading.clearfix
				.h3.pull-left{ :style => "margin-top: 0.5em;" }	
					=ride.source
					.span.glyphicon.glyphicon-arrow-right
					=ride.destination
				.btn-group.pull-right{ :style => "padding-top: 0.5em;" }	
					- if current_user 
						= link_to t('.edit', :default => t("helpers.links.edit")), edit_ride_path(ride), :class => 'btn btn-default btn-md' if current_user_id == ride.user_id
						= link_to t('.destroy', :default => t("helpers.links.destroy")), ride_path(ride), :method => :delete, :data => { :confirm => t('.confirm',:default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-md' if current_user_id == ride.user_id
					
						- if current_user_id != ride.user_id && current_user_id != @requests_hash[ride.id]
							= bootstrap_form_for(Request.new) do |f|
								= f.hidden_field :user_id, value: "#{ride.user_id}"
								= f.hidden_field :ride_id, value: "#{ride.id}"
								= f.hidden_field :passenger, value: "#{current_user.name}"
								= f.hidden_field :passenger_id, value: "#{current_user_id}"
								= f.submit "Join", class: "btn btn-success"
					- else
						= bootstrap_form_for(Request.new) do |f|
							= f.submit "Join", class: "btn btn-success btn-md"			

			.panel-body
				.row
					.col-sm-5
						%h3=ride.leaving_date.to_formatted_s :short_ordinal 
						%h3=ride.leaving_time.to_formatted_s :time_12_hour
					.col-sm-7
						%h3 
							%stong Name: 
							=ride.driver
						%h3 
							%stong Spots Taken:
							=ride.spots_taken	
						%h3 
							%stong Spots Available:
							=ride.spots_available-ride.spots_taken

				.row.bottom
					.col-sm-5			
						%h3 
							%b Price:
							=number_to_currency(ride.price)
					.col-sm-7
						%h3	Description:
						%h4=ride.description

.col-lg-4
	.panel.panel-default.search-box
		.panel-heading.clear-fix
			%h2.center Search	
		.panel-body	
			=form_tag '/rides', :method =>  :get
			%h4
				Leaving From:	
				=select_tag 'leaving_from', content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(@rides_source, 'source', 'source'),  { :class => 'form-control' }
			
			%h4
				Going To:
				=select_tag 'going_to', content_tag(:option,'select one...',:value=>"")+options_from_collection_for_select(@rides_destination, 'destination', 'destination'), { :class => 'form-control' }
			%h4=submit_tag "Search", :name => nil, :class => 'btn btn-success btn-md btn-block'				
 						
