- model_class = Ride
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:driver) + ':'
  %br
  = @ride.driver
%p
  %strong= model_class.human_attribute_name(:source) + ':'
  %br
  = @ride.source
%p
  %strong= model_class.human_attribute_name(:destination) + ':'
  %br
  = @ride.destination
%p
  %strong= model_class.human_attribute_name(:spots_available) + ':'
  %br
  = @ride.spots_available
%p
  %strong= model_class.human_attribute_name(:spots_taken) + ':'
  %br
  = @ride.spots_taken
%p
  %strong= model_class.human_attribute_name(:passenger1) + ':'
  %br
  = @ride.passenger1
%p
  %strong= model_class.human_attribute_name(:passenger2) + ':'
  %br
  = @ride.passenger2
%p
  %strong= model_class.human_attribute_name(:passenger3) + ':'
  %br
  = @ride.passenger3
%p
  %strong= model_class.human_attribute_name(:passenger4) + ':'
  %br
  = @ride.passenger4
%p
  %strong= model_class.human_attribute_name(:passenger5) + ':'
  %br
  = @ride.passenger5
%p
  %strong= model_class.human_attribute_name(:passenger6) + ':'
  %br
  = @ride.passenger6
%p
  %strong= model_class.human_attribute_name(:passenger7) + ':'
  %br
  = @ride.passenger7


= link_to t('.back', :default => t("helpers.links.back")), rides_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_ride_path(@ride), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), ride_path(@ride), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
